* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Cabeçalho*/
.cabecalho{
  position: absolute;
  top: 0;
  width: 100%;
  height: 5%;
  padding: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #407BFF;
}
.cabecalho h3{
  left: calc(50% - 133px/2 - 109.5px);
  top: calc(50% - 23px/2 - 372.5px);
  font-size: 18px;
  line-height: 25px;
  color: white;
}
.cabecalho a{
  color: white;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}
.cabecalho a:hover{
  opacity: 0.7;
}

/*Cadastro*/
.container {
  position: absolute;
  top: 100px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  width: 400px;
  max-width: 100%;
  overflow: hidden;
}
.container h1{
  display: flex;
  justify-content: center;
  
  padding: 10px;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  color: #263238;
}

/*Campos*/
.form {
  padding: 20px;
}
.form-control{
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}
.form-control input, .form-control select{
  border: 2px solid #f0f0f0;
  display: flex;
  border-radius: 10px;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  outline: none;
}
.form-control select, option{
  cursor: pointer;
}
.nomeAla #ala01{
  padding-top: 20px;
}

/*imgem de mostrar e ocultar senha*/
.form-control img{
  position: absolute;
  right: 10px;
  top: 15px;
  cursor: pointer;
}

/*Requisito da senha*/
.form-control h5{
  font-weight: 400;
  font-size: 16px;
  color: #407BFF;
}

/*Error and Success*/
.form-control i{
  position: absolute;
  top: 55px;
  right: 10px;
  visibility: hidden;
}
.form-control small {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.form-control.success input, .form-control.error select{
  border-color: #2ecc71;
}
.form-control.error input, .form-control.error select, .form-control.errorpassword input, .form-control.errorpassword select{
  border-color: #e74c3c;
}
.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}
.form-control.error i.fa-exclamation-circle, .form-control.errorpassword i.fa-exclamation-circle{
  color: #e74c3c;
  visibility: visible;
}
.form-control.error small, .form-control.errorpassword h5{
  visibility: visible;
  color: #e74c3c;
}

/*Alas e ramos*/
.form-control #ala01{
  visibility: hidden;
}

/*Botões*/
.form .button{
  display: flex;
  justify-content: space-between;
}
.form .canc{
  position: relative;
  top: 90%;
  height: 42px;
  width: 30%;
  
  background: white;
  border: 1px solid #DF5753;
  border-radius: 10px;
  cursor: pointer;  
}
.form .canc a{
  font-weight: bold;
  font-size: 13px;
  text-align: center;
  color: #DF5753;
  text-decoration: none;
}
.form .canc:hover{
  background: rgb(248, 244, 244);
}
.form .salv{
  position: relative;
  top: 90%;
  height: 42px;
  width: 30%;

  background: #407BFF;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  
  font-size: 13px;
  text-align: center;
  color: #FFFFFF;
}
.form .salv:hover{
  background: #386fe7;
}

/*Logar*/
.logar{
  position: absolute;
  top: 90%;
  font-size: 16px;
  color: #9E9E9E;
  font-weight: bold;
}
.logar a{
  color: #407BFF;
  cursor: pointer;
  text-decoration: none;
}
.logar a:hover{
  text-decoration: underline;
}